<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999107197416-2h8cpb6d9ak5alovk94eh7bkgaoh2or0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999107197416-2h8cpb6d9ak5alovk94eh7bkgaoh2or0</string>
	<key>API_KEY</key>
	<string>AIzaSyDVBAX_XkQQro42HYQDaOYJp1X5bOObbmo</string>
	<key>GCM_SENDER_ID</key>
	<string>999107197416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.development.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-69e9f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-69e9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999107197416:ios:b00cacfc5b167648a30c5d</string>
</dict>
</plist>